.someClass {

}

.content {
    color: blueviolet;
    text-indent: 40px;

}

.button {
    color: black;
    padding: 5px;
    background-color: aquamarine;
    margin: 25px;
}

.buttons {
}

td {
    width: 40%;
    vert-align: middle;
}

th {
    width: 40%;
}